body {
	background-image: url('img/background.jpg');
	display: flex;
	min-height: 95vh;
	flex-direction: column;
}

nav, header, footer {
	display: flex;
}

header {
	border: 2px solid black;
	background-color: #f48c42;
	border-radius: 30px;
	font-family: CONSOLAS;
}

footer {
	border: 2px solid black;
	background-color: #f48c42;
	border-radius: 30px;
	font-family: CONSOLAS;
	height: 45px;
	justify-content:center;

}

#headnav {
	flex: 10;
}

#headfooter {
	flex: 1;
}

nav article, nav menu {
	
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
}

#logo, #name{
	padding: 5px;
	display: flex;
	text-shadow: 2px 2px 2px gray;
}

menu {
	margin-left: 50px;
	margin-right: 25px;
	flex: 1;
	
	background-color: #f48c42;
}

article {
	margin-right: 50px;
	flex: 4;
	background-color: #f48c42;
	
}

img, p {
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
}

hr {
	height: 1px;
	border: none;
	background-color: black;
	color: black;
}

h3{
	font-family: ARIAL;
}

/*/FOTER/*/
#social {
	margin-left: -100px;
	display: flex;	
	align-items: center;
	justify-content:center;
	
}
.socialleft{

}

.socialright{
	width: 25px;
}

/*/FOTER/*/

/*/ MENU /*/
.menu{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px dashed black;
	border-radius: 5px;
	display: flex;
	height: 50px;
	text-decoration: none;
	align-items: center;
	justify-content: space-around;
	font-style: bold;
	font-size: 16px;
	font-family: ARIAL;
	color: black;
}
ul#headmenu{
	padding: 0;
	list-style-type: none;
}

.menu:hover{
	background-color: gray;
	text-decoration: underline;
}

#menu {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	align-items: center;
}

.submenu {
	display: flex;
	display: none;
	
}

.films {
	padding: 5px;
}
ul li:hover ul.submenu {
	display: block;
}

a{
	color: black;
	text-decoration:  none;
}
a:hover{
	text-decoration:  underline;
}
/*/ MENU /*/